* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

header {
    background-color: #37E670;
    color: #107755;
    padding-top: 20px;
    text-align: center;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 30px;
}

.navbar {
    margin-top: 20px;
    background-color: #107755;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
    margin: 0;
    padding: 0;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 40px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

nav a:hover {
    color: #107755;
    background-color: #ffffff;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 10000px;
}

footer {
    background-color: #37E670;
    color: #107755;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}