* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body {
    background-color: #f0f0f0;
    color: rgb(31, 31, 31);
}

#container-geral {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    position: relative;
}

#container-geral-centro {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 1500px;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    position: relative;
}

header {
    background-color: #37E670;
    color: #107755;
    padding-top: 20px;
    text-align: center;
    position: relative;
    font-size: 14px;
    font-weight: 600;
}

header img:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.navbar {
    margin-top: 20px;
    background-color: #107755;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 50px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 40px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

nav a:hover {
    color: #107755;
    background-color: #ffffff;
}

.container {
    flex: 3;
    padding: 40px;
    text-align: justify;
    max-width: 70%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0, auto;
}

.container h3 {
    font-size: 32px;
    text-align: center;
}

#container-todas-imagens {
    margin-bottom: 30px;
}

#container-imagens-dos-lugares-maiores {
    display: flex;
    gap: 5px;
}

#container-imagens-dos-lugares-maiores img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#container-imagens-dos-lugares-maiores img:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
}

#container-imagens-dos-lugares {
    display: flex;
    gap: 5px;
}

.imagens-dos-lugares {
    height: auto;
}

.imagens-dos-lugares img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.imagens-dos-lugares img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
}

#texto-galeria {
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}

#relatos-pessoais {
    flex: 1;
    max-width: 30%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 0;
}

#relatos-pessoais h3 {
    color: rgb(31, 31, 31);
    font-size: 1.5em;
    text-align: center;;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.comentario {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

.foto-perfil {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
}

.texto-comentario {
    flex: 1;
}

.nome {
    font-weight: bold;
    margin: 0;
    color: #222;
}
  
.data {
    font-weight: normal;
    color: #777;
    font-size: 14px;
}
  
.mensagem {
    margin-top: 5px;
    color: #444;
    line-height: 1.4;
}

footer {
    background-color: #37E670;
    color: #107755;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.contato-footer {
    text-decoration: none;
    color: #107755;
}

.contato-footer:hover {
    text-decoration: underline;
    color: #0000FF;
    background-color: #ffffff;
    transition: color 0.3s ease, background-color 0.3s ease;   
}

/* CSS da pagina Melhores Destinos */

.destinos {
    display: grid;
    gap: 50px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.destinos a {
    text-decoration: none;
}

.destino {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

.destino:hover {
    transform: scale(1.03);
}

.destino img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.destino .info {
    padding: 16px;
}

.destino h3 {
    margin: 0;
    color: #2c3e50;
}

.destino p {
    text-align: center;
    margin-top: 8px;
    font-size: 0.95em;
    color: #555;
}

/* CSS da pagina Dicas de Viagem */

.container h2 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 30px;
    font-size: 2.5em;
}

.dica {
    background-color: #fdfdfd;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.dica:hover {
    transform: scale(1.03);
}

.dica h3 {
    color: #2c3e50;
}

ol, ul {
    margin-left: 20px;
}

.destacado {
    background-color: #e8f8f5;
    padding: 10px;
    border-left: 5px solid #1abc9c;
    margin: 15px 0;
    border-radius: 5px;
}

/* CSS da pagina Enviar Comentarios */

.form-comentario {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.input-campo {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.textarea-comentario {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    resize: vertical;
}

.botao-enviar {
    padding: 12px;
    background-color: #107755;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.botao-enviar:hover {
    background-color: #0d5f46;
}